{% extends 'coffeeshop/base.html' %}

{% block content%}
    <h1>All coffees</h1>
    {% for coffee in object_list %}
        <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{ coffee.name }}</span> 
        </div>
        <div class="card-body">
            <ul>
                <li>Producer: {{coffee.producer}}</li>
                <li>Origin: {{coffee.origin}}</li>
                <li>Package: {{coffee.package}} kg </li>
            </ul>
        </div>
        <div class="card-footer">
            {% for review in coffee.reviews.all %}
            <p>
                <span class="font-weight-bold">
                {{ review.author }} &middot;
                </span>
                {{ review.review }}
                {{ review.created_at }}
            </p>
            {% endfor %}
        </div>
    </div>
    <br />
    {% endfor %}
{% endblock content %}}
